<div *ngIf="project">
  <div class="container">
    <div class="box">
      <div class="closeButton">
        <button (click)="goBack()"><mat-icon>close</mat-icon></button>
      </div>
      <div class="header">
        <div class="header-content">
          <div class="header-image">
            <img src="{{ urlApi }}/show/images?p={{ urlCover }}" alt="" />
          </div>
        </div>
        <div class="content__tab">
          <ul>
            <li
              [class.content__tab-active]="isInformation"
              (click)="getTab('infor')"
            >
              Thông tin
            </li>

            <li
              [class.content__tab-active]="isCampaigns"
              (click)="getTab('cam')"
            >
              Chiến dịch
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="isInformation" class="box box__content">
      <div class="content">
        <div class="content-information">
          <div class="content-description">
            <span>Tên dự án:</span>
            <p>
              {{ project.name }}
            </p>
          </div>
          <div class="content-description">
            <span>Đồng hành cùng dự án:</span>
            <img
              class="organization__avatar"
              src="{{ urlApi }}/show/images?p={{ urlLogo }}"
            />
            <p>
              {{ project.organizationName }}
            </p>
          </div>
          <div class="content-description">
            <span>Giới thiệu dự án:</span>
            <p>
              {{ project.description }}
            </p>
          </div>
          <div class="content-description">
            <span>Thời gian diễn ra:</span>
            <p>
              {{ project.startDate | date: "dd/MM/yyyy" }} -
              {{ project.endDate | date: "dd/MM/yyyy" }}
            </p>
          </div>
          <div *ngIf="isApproved" class="delete-button">
            <app-delete-entity
              [type]="'pro'"
              [entity]="project"
            ></app-delete-entity>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isCampaigns && isApproved">
      <div *ngIf="isEmpty" class='d-flex '>
        Hiện tại không có dự án nào được tạo!
        <div *ngIf="!isAdmin" class="ms-2 campaigns__button-create">
          <button (click)="openCampaignForm()" mat-raised-button color="accent">
            <mat-icon>add</mat-icon>
            Tạo chiến dịch
          </button>
        </div>
      </div>
      <div class="campaigns__button">
     
        <div style="width: 100%" *ngIf="campaignsCopy?.length! > 0">
          <div class="search_bar">
            <div *ngIf="!noResultBySearch; then name; else result"></div>
            <div>
              <ng-template #name>
                <div class="name">
                  <h3>Chiến dịch</h3>
                </div>
              </ng-template>
              <ng-template #result>
                <div class="name">
                  <h3>Không tìm thấy kết quả phù hợp</h3>
                </div>
              </ng-template>
            </div>
            
            <div>
              <app-search-bar
                (getItem)="getData($event)"
                [entityCopy]="passData"
              ></app-search-bar>
            </div>
            <div *ngIf="!isAdmin" class="ms-2 campaigns__button-create">
              <button
                (click)="openCampaignForm()"
                mat-raised-button
                color="accent"
              >
                <mat-icon>add</mat-icon>
                Tạo chiến dịch
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <app-campaign-item
          *ngFor="let cam of campaigns"
          class="campaign-card mb-3 col-xxl-4 col-md-6 col-sm-12 col-12"
          [campaign]="cam"
        ></app-campaign-item>
      </div>
    </div>
  </div>

</div>
