

.upload-button {
  button {

    display: flex;
    align-items: center;

  }
}

.upload-document,
.table-document {
  display: flex;
  width: 50%;
}

.table-document {
  border-left: 1px solid #ddd;
}
.text-center{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.box {
  display: flex;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;

  &__content {
    width: 95%;
  }

  &__files {
    margin: 0 5px;
    .width {
      width: 100%;
    }
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  position:relative;

  &__holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  &__button{
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
  .close {
    position: absolute;
    right: 0;
  }

  .my-drop-zone {
    border: dotted 5px lightgray;
    border-radius: 5px;
  }

  &__holder {
    height: 200px;
  }

  .nv-file-over {
    border: dotted 3px rgb(160, 233, 255);
  }
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  background-color: rgb(65, 65, 255);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: black;
}

table,
th,
tr,
td {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}
