.view-list {
  table {
    width: 100%;
    text-align: center;

    td.mat-cell:nth-of-type(2),td.mat-cell:nth-of-type(3) {
      text-align: start;
    }
  }

  th {
    text-align: center;
  }

  .mat-card-avatar {
    object-fit: contain;
  }

  img {
    width: 50px;
    height: 50px;
  }


}

::ng-deep {
  .mat-paginator-page-size-label {

    display: none;
  }
}

.isActive {
  color: rgb(1, 206, 1);
  background-color: aliceblue;
  border-radius: 10px;

  text-align: center;
}
.mat-row:hover .mat-cell{
  cursor: pointer;
  background-color: #ddd;
  opacity: 0.5;
}