<div *ngIf="entity">
  <div class="view-list">
    <table mat-table [dataSource]="dataSource">
       <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Tên</th>
        <td mat-cell *matCellDef="let e">
          <img
            loading="lazy"
            mat-card-avatar
            src="{{ urlApi }}/show/images?p={{ e.cover }}"
          />
          {{ e.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="created_name">
        <th mat-header-cell *matHeaderCellDef>Người tạo</th>
        <td mat-cell *matCellDef="let e">{{ e.created_name }}</td>
      </ng-container>
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>Ngày tạo</th>
        <td mat-cell *matCellDef="let e">
          {{ e.created_at | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Loại tổ chức</th>
        <td mat-cell *matCellDef="let e">{{ e.type }}</td>
      </ng-container>

      <!--
                  <ng-container matColumnDef="donated_turn">
                    <th mat-header-cell *matHeaderCellDef>Số lần quyên góp</th>
                    <td mat-cell *matCellDef="let e">{{ e.donated_turn }}</td>
                  </ng-container>
                  <ng-container matColumnDef="donated_campaign">
                    <th mat-header-cell *matHeaderCellDef>Số chiến dịch đã quyên góp</th>
                    <td mat-cell *matCellDef="let e">{{ e.donated_campaign }}</td>
                  </ng-container>
                -->
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 15]"
      showFirstLastButtons
   
    >
    </mat-paginator>
  </div>
</div>
