<div *ngIf="entity">
  <div class="view-list">
    <mat-form-field>
      <mat-label>Tìm kiếm theo tên</mat-label>
      <input matInput #input (keyup)="filterByName($event)" />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Số thứ tự</th>
        <td mat-cell *matCellDef="let e">
          {{ e.no }}
        </td>
      </ng-container>
      <div *ngIf="whichEntity == 'org'">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên</th>
          <td mat-cell *matCellDef="let e">
            <img
              loading="lazy"
              mat-card-avatar
              src="{{ urlApi }}/show/images?p={{ e.cover }}"
            />
            {{ e.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="created_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Người tạo</th>
          <td mat-cell *matCellDef="let e">{{ e.created_name }}</td>
        </ng-container>
        <ng-container matColumnDef="founding_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Ngày thành lập
          </th>
          <td mat-cell *matCellDef="let e">
            {{ e.created_at | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Loại tổ chức
          </th>
          <td mat-cell *matCellDef="let e">
            {{
              utilService.convertType(e.type)
                ? utilService.convertType(e.type)
                : "Không có"
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
          <td mat-cell *matCellDef="let e">
            <p class="isActive">
              {{ e.is_active == true ? "Đang hoạt động" : "Bị cấm hoạt động" }}
            </p>
          </td>
        </ng-container>
      </div>

      <div *ngIf="whichEntity == 'pro'">
        <ng-container matColumnDef="org_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Thuộc tổ chức
          </th>
          <td mat-cell *matCellDef="let e">
            <img
              loading="lazy"
              mat-card-avatar
              src="{{ urlApi }}/show/images?p={{ e.organizationLogo }}"
            />{{ e.organizationName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên</th>
          <td mat-cell *matCellDef="let e">{{ e.name }}</td>
        </ng-container>
        <ng-container matColumnDef="created_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày tạo</th>
          <td mat-cell *matCellDef="let e">
            {{ e.created_at | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="start_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Ngày bắt đầu
          </th>
          <td mat-cell *matCellDef="let e">
            {{ e.startDate | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="end_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Ngày kết thúc
          </th>
          <td mat-cell *matCellDef="let e">
            {{ e.endDate | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>
        >
      </div>

      <div *ngIf="whichEntity == 'cam'">
        <ng-container matColumnDef="pro_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Thuộc dự án</th>
          <td mat-cell *matCellDef="let e">
            <img
              loading="lazy"
              mat-card-avatar
              src="{{ urlApi }}/show/images?p={{ e.pro_logo }}"
            />{{ e.pro_name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên</th>
          <td mat-cell *matCellDef="let e">{{ e.name }}</td>
        </ng-container>
        <ng-container matColumnDef="created_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Ngày tạo
          </th>
          <td mat-cell *matCellDef="let e">
            {{ e.createdAt | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="start_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Ngày bắt đầu
          </th>
          <td mat-cell *matCellDef="let e">
            {{ e.startDate | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="end_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Ngày kết thúc
          </th>
          <td mat-cell *matCellDef="let e">
            {{ e.endDate | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>
        >
      </div>

      <div *ngIf="whichEntity == 'user'">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên</th>
          <td mat-cell *matCellDef="let e">
            <img
              loading="lazy"
              mat-card-avatar
              src="{{ urlApi }}/show/images?p={{ e.pro_logo }}"
            />{{ e.first_name }} {{ e.last_name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tài khoản</th>
          <td mat-cell *matCellDef="let e">{{ e.username }}</td>
        </ng-container>
        <ng-container matColumnDef="created_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày tạo</th>
          <td mat-cell *matCellDef="let e">
            {{ e.created_at | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vai trò</th>
          <td mat-cell *matCellDef="let e">
            {{ e.role }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
          <td mat-cell *matCellDef="let e">
            {{ e.is_active == "true" ? "Đang hoạt động" : "Bị vô hiệu" }}
          </td>
        </ng-container>
        >
      </div>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>

      <tr
        mat-row
        (click)="goToDetails(row.id)"
        *matRowDef="let row; columns: displayColumns"
      ></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Không có dữ liệu tương ứng với "{{ input.value }}"
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
