<div *ngIf="projects">
  <div class="container">
    <div *ngFor="let project of projects">
      <a
        routerLink="project-request-detail/{{ project.id }}"
        style="text-decoration: none"
      >
        <mat-card>
          <div class="image">
            <img
              alt="Cover of this project"
              mat-card-image
              src="{{urlApi}}/show/images?p={{project.cover}}"
            />
          </div>
          <mat-card-title> {{ project.name }}</mat-card-title>
          <div class="card-icon">
            <div>
              <mat-icon title="Request by">people</mat-icon
              ><span class="margin-left">Khang Tran</span>
            </div>
            <div>
              <mat-icon title="At">date_range</mat-icon
              ><span class="margin-left">{{project.created_at | date:'mediumDate'}}</span>
            </div>
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>
<div *ngIf='isEmpty'>
  Nothing here !
</div>
