<div class="container">
  <form [formGroup]="organizationForm" action="">
    <div class="login-form">
      <div>
        <mat-label style="width: 24%">Tên</mat-label>
        <input class="input login" type="text" placeholder="Tên tổ chức" required="" formControlName="name" />
      </div>
      <span *ngIf="  ( organizationControl.name.touched||isSubmitted) &&
            organizationControl.name.errors?.required|| organizationControl.name.errors?.pattern
            ||
            organizationControl.name.errors?.['minlength'] ||   organizationControl.name.errors?.['maxlength']
          " class="text-danger">Tên tổ chức bắt buộc và có độ dài tối thiểu 8, tối đa 128 kí tự</span>
      <div>
        <mat-label style="width: 24%">Tên tiếng anh</mat-label>
        <input class="input login" type="text" placeholder="Tên tiếng anh ( nếu có )" formControlName="eng_name" />
      </div>
      <div>
        <mat-label style="width: 24%">Giới thiệu</mat-label>
        <textarea class="input login" type="text" placeholder="Giới thiệu" required=""
          formControlName="description"></textarea>
      </div>
      <span *ngIf="  ( organizationControl.description.touched||isSubmitted) &&
      organizationControl.description.errors?.required|| organizationControl.description.errors?.pattern
      ||
      organizationControl.description.errors?.['minlength'] ||   organizationControl.description.errors?.['maxlength']
    " class="text-danger">Giới thiệu bắt buộc và có độ dài tối thiểu 128, tối đa 1000 kí tự</span>
      <div>
        <mat-label style="width: 24%">Tầm nhìn</mat-label>
        <textarea class="input login" type="text" placeholder="Tầm nhìn của tổ chức" required=""
          formControlName="vision"></textarea>
      </div>
      <span *ngIf="  ( organizationControl.vision.touched||isSubmitted) &&
      organizationControl.vision.errors?.required|| organizationControl.vision.errors?.pattern
      ||
      organizationControl.vision.errors?.['minlength'] ||   organizationControl.vision.errors?.['maxlength']
    " class="text-danger">Tầm nhìn bắt buộc và có độ dài tối thiểu 128, tối đa 1000 kí tự</span>
      <div>
        <mat-label style="width: 24%">Nhiệm vụ</mat-label>
        <textarea class="input login" type="text" placeholder="Nhiệm vụ của tổ chức" required=""
          formControlName="mission" ></textarea>
      </div>
      <span *ngIf="  ( organizationControl.mission.touched||isSubmitted) &&
      organizationControl.mission.errors?.required|| organizationControl.mission.errors?.pattern
      ||
      organizationControl.mission.errors?.['minlength'] ||   organizationControl.mission.errors?.['maxlength']
    " class="text-danger">Nhiệm vụ bắt buộc và có độ dài tối thiểu 128, tối đa 1000 kí tự</span>
      <div>
        <mat-label style="width: 24%">Website</mat-label>
        <input class="input login" type="text" placeholder="Website" formControlName="website" />
      </div>
      <div>
        <mat-label style="width: 24%">Ngày thành lập</mat-label>

        <input class="input login" type="date" required="" formControlName="founding_date" />
      </div>
      <span *ngIf="
          (organizationControl.founding_date.touched || isSubmitted) &&
          organizationControl.founding_date.errors?.required
        " class="text-danger">Ngày thành lập phải được chọn</span>
      <div>
        <mat-form-field>
          <mat-label>Lĩnh vực</mat-label>
          <mat-select formControlName="category" required="false" multiple>
            <mat-select-trigger>
              <mat-chip-list>
                <mat-chip *ngFor="let e of organizationControl.category.value" [removable]="true"
                  (removed)="onRemoveCategory(e)">
                  {{ e.vietsub }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-select-trigger>
            <mat-option *ngFor="let e of category" [value]="e">
              {{ e.vietsub }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <p>Bạn không cần chọn hình ảnh nếu không muốn cập nhật ảnh bìa</p>
      <div>
        <label style="width: 100px"> Ảnh bìa:</label>
        <input class="input login" type="file" accept="image/png,image/jpg,image/jpeg" formControlName="cover"
          (change)="onChangeCover($event)" />
      </div>
      <p>Bạn không cần chọn hình ảnh nếu không muốn cập nhật logo</p>
      <div>
        <label style="width: 100px"> Logo:</label>
        <input accept="image/png,image/jpg,image/jpeg" class="input login" type="file" formControlName="logo"
          (change)="onChangeLogo($event)" />
      </div>

      <label class="mb-2"> Giấy phép hoạt động:</label>
      <div>
        <ngx-dropzone class="text-center" style="width: 100%" [multiple]="false" (change)="onSelectPDF($event)">
          <ngx-dropzone-label>Kéo và thả tài liệu về giấy phép hoạt động vào đây hoặc

            <label class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Chọn tài liệu
            </label>
          </ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of filePDF" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
          <ngx-dropzone-label>(.PDF) </ngx-dropzone-label>
          <ngx-dropzone-label *ngIf='isWrongFile'>Tài liệu không đúng dịnh dạng. Vui lòng gửi lại !</ngx-dropzone-label>
        </ngx-dropzone>
      </div>
    </div>
  </form>

  <div class="login-button mt-2">
    <button type="submit" (click)="update()">Cập nhật</button>
  </div>
</div>
