.active {
  border-bottom: 1px solid #333;
  border-radius: 0 ;

}

.tab-button {
  display: flex;
  border-bottom: 0.5px solid #ccc;
  justify-content: center;

}

.item-center {
  display: flex;
  align-items: center;

}

.pending {
  color: rgb(55, 55, 220);
}

.approve {
  color: rgb(0, 245, 49);
}

.reject {
  color: rgb(233, 53, 53);
}

mat-icon {
  margin-right: 10px;
}
