<div *ngIf="entity">
  <div class="tab-button">
    <div>
      <button
        [class.active]="isActivated ? isActivated : isActive1"
        mat-button
        (click)="getEntity('approve', entity)"
      >
        <div class="item-center approve">
          <mat-icon>check_circle</mat-icon>
          Đã Duyệt
        
        </div>
      </button>
    </div>
    <div>
      <button
        [class.active]="isActive2"
        mat-button
        (click)="getEntity('pending', entity)"
      >
        <div class="item-center pending">
          <mat-icon>pending_actions</mat-icon>
          Chờ Duyệt
        </div>
      </button>
    </div>
    <div>
      <button
        [class.active]="isActive3"
        mat-button
        (click)="getEntity('reject', entity)"
      >
        <div class="item-center reject">
          <mat-icon> thumb_down_alt </mat-icon>
          Từ Chối
        </div>
      </button>
    </div>
  </div>
</div>
