.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    div{
        margin:10px
    }
}

.search-bar{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
  }
  .name{
    display: flex;
    align-items: center;
    margin-top:20px;
    >p{
    
      font-size:15px;
      margin-left:5px;
      margin-bottom: 0 !important;
    }
  }