@media only screen and (min-width: 576px) {
  .campaign-card {
    height: 448px !important;
  }
}

@media only screen and (min-width: 576px) {
  .campaign-card {
    height: 448px !important;
  }
}

@media only screen and (min-width: 768px) {
  .campaign-card {
    height: 512px !important;
  }
}


@media only screen and (min-width: 992px) {
  .campaign-card {
    height: 456px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .campaign-card {
    height: 420px !important;
  }
}

@media only screen and (min-width: 1400px) {
  .campaign-card {
    height: 404px !important;
  }
}

.name {
  display: flex;
  align-items: center;


  > p {

    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 0 !important;
  }
}
