<div *ngIf="isLoaded">
  <app-tabgroup [entity]="'cam'" [object]="passData"></app-tabgroup>

  <ng-template #noRequest>
    <div *ngIf="!isEmpty">
      <div class="search-bar mb-3 d-flex align-items-center">
        <div *ngIf="!noResultBySearch; then name; else result"></div>
        <div>
          <ng-template #name>
            <div class="name">
              <h3>Chiến dịch</h3>
              <p>({{ number ? number : "" }})</p>
            </div>
          </ng-template>
          <ng-template #result>
            <div class="name">
              <h3>Không tìm thấy kết quả phù hợp</h3>
            </div>
          </ng-template>
        </div>

        <app-search-bar
          (getItem)="getData($event)"
          [entity]="passData"
          [entityCopy]="oldData"
        ></app-search-bar>
        <app-change-to-list
          #changeView
          class="me-2"
          (handleTitle)="handleTitle($event)"
        ></app-change-to-list>
      </div>

      <app-list-view
        [whichEntity]="'cam'"
        *ngIf="isList"
        [entity]="campaigns"
      ></app-list-view>
      <div *ngIf="!isList" class="row p-3">
        <app-campaign-card-info
          *ngFor="let cam of campaigns"
          class="campaign-card mb-3 col-xxl-4 col-md-6 col-sm-12 col-12"
          [valueNumber]="value"
          [campaign]="cam"
        ></app-campaign-card-info>
      </div>
    </div>
  </ng-template>
  <div *ngIf="isEmpty">Hiện tại không có chiến dịch nào được tạo!</div>
  <div *ngIf="isRequest; then request; else noRequest"></div>
  <ng-template #request>
    <div *ngIf="!isEmpty">
      <div class="search-bar">
        <div *ngIf="!noResultBySearch; then name; else result"></div>
        <ng-template #name>
          <div class="name">
            <h3>Chiến Dịch</h3>
            <p>({{ number ? number : "" }})</p>
          </div>
        </ng-template>
        <ng-template #result>
          <div class="name">
            <h3>Không tìm thấy kết quả phù hợp</h3>
          </div>
        </ng-template>

        <app-search-bar
          (getItem)="getData($event)"
          [entity]="passData"
          [entityCopy]="oldData"
        ></app-search-bar>
        <app-change-to-list
          class="me-2"
          (handleTitle)="handleTitle($event)"
        ></app-change-to-list>
      </div>
    </div>
    <div class="container">
      <app-list-view
        [whichEntity]="'cam'"
        *ngIf="isList"
        [entity]="campaigns"
      ></app-list-view>
      <div class='center' *ngIf="!isList">
        <div *ngFor="let campaign of campaigns">
          <app-campaign-request-card
            [campaign]="campaign"
          ></app-campaign-request-card>
        </div>
      </div>
    </div>
  </ng-template>
</div>
