<div *ngIf="project">
  <div class="container">
    <div class="box">
      <div class="closeButton">
        <button (click)="goBack()"><mat-icon>close</mat-icon></button>
      </div>
      <div class="header">
        <div class="header-content">
          <div class="header-image">
            <img src="assets/cover/ddtt18.png" alt="" />
          </div>
          <div class="header-information">
            <div>
              <img
                class="logo"
                src="https://scontent.fsgn13-2.fna.fbcdn.net/v/t1.6435-9/178544364_107519118154437_587515442243461044_n.png?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=HpDq1z6uI1AAX_qZr2h&_nc_ht=scontent.fsgn13-2.fna&oh=00_AT_wF445zgWFFAp3-EM3SKzQh1mk0GzbDAyweGLg3sapjQ&oe=6257A43B"
              />
              <h4>{{ project.name }}</h4>
              <app-status></app-status>
            </div>


            <p>
              Đồng hành cùng dự án <br />
              <span class="organization-name">SUGAR VIETNAM</span>
            </p>
            <div class="card-icon">
              <div class="start-date">
                <p>{{ project.start_date | date: "mediumDate" }}</p>
                <mat-card-subtitle> Start Date </mat-card-subtitle>
              </div>
              <div class="budget-item">
                <p>{{ project.end_date | date: "mediumDate" }}</p>
                <mat-card-subtitle> End Date </mat-card-subtitle>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-information">
          <div class="content-description">
            <span>Description:</span>
            <p>
              {{ project.description }}
            </p>
          </div>
        </div>
        <div >
          <app-approve-decline-button
            [project]="project"
          ></app-approve-decline-button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="container">
  <div class="box">
    <button (click)="goBack()"><mat-icon>close</mat-icon></button>
    <div class="header">
      <div class="header-content">
        <div class="header-images">
          <img src="assets/cover/ddtt18.png" alt="" />
        </div>
        <div class="header-information">
          <div>
            <h4>A</h4>
            <app-status></app-status>
            <app-approve-decline-button></app-approve-decline-button>
          </div>
          <p><span>SUGAR VIETNAM</span></p>
          <div class="card-icon">
            <div class="start-date">
              <p>A</p>
              <mat-card-subtitle> Start Date </mat-card-subtitle>
            </div>
            <div class="budget-item">
              <p>A</p>
              <mat-card-subtitle> End Date </mat-card-subtitle>
            </div>
          </div>
          <div class="location">
            <mat-icon>location_on</mat-icon>
            <p>Hue</p>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-information">
        <div class="content-description">
          <span>Description:</span>
          <p>A</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
