<div *ngIf='user' class="user-card w-100 h-100 border-radius-16 p-2 box-shadow-1 position-relative d-flex flex-column align-items-center">
  <div class="circle-avatar-big">
    <img
      onerror="this.src='assets/icons/user_icon.png'"
      src="{{ urlApi }}/show/images?p={{ user.avatar }}" />
  </div>

  <button class="button-hover" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div class="user-status content-center position-absolute top-0 left-0 p-2">
    <span *ngIf="user.is_active && !user.is_block" title="Đang hoạt động" class="dot__green"></span>
    <span *ngIf="!user.is_active" title="Ngưng hoạt động" class="dot__red"></span>
    <span *ngIf="user.is_active && user.is_block" title="Bị khóa" class="dot__yellow"></span>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>info</mat-icon>
      Chi tiết
    </button>
  </mat-menu>

  <div class="w-100 h-100 d-flex flex-column justify-content-around align-items-center mt-3">
    <h6 class="fw-bold text-truncate">{{user.first_name}} {{user.last_name}}</h6>
    <p class="small">@{{user.username}}</p>
    <p class="text-truncate"> Tham gia vào <span class="fw-bold">{{user.created_at | date:'dd/MM/yyyy'}}</span></p>

    <div class="action-user">
      <button *ngIf="user.is_active && user.is_block" (click)='enableUser()' class="action-user__green" mat-flat-button>Mở khóa</button>
      <button *ngIf="user.is_active && !user.is_block" (click)='disableUser()' class="action-user__red" mat-flat-button>Khóa tài khoản</button>
    </div>
  </div>
</div>
