.user-card {
  background-color: white;
}

.mat-card:hover {
  animation: moveFadein;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.mat-icon-button {
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 0px;
  width: auto;
  height: auto;
}

.mat-card-avatar {
  width: 80px;
  height: 80px;
}

.mat-flat-button:hover {
  background-color: #ddd;
}

.user-status {
  position: absolute;
  left: 0;
  top: 0;

  span {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  }

  .dot__red {
    background-color: red;
  }

  .dot__green {
    background-color: green;
  }

  .dot__yellow {
    background-color: yellow;
  }
}

.action-user {
  .action-user__red {
    color: red;
  }

  .action-user__green {
    color: green;
  }
}
