
    .search-item {
      display: flex;
  
      input {
        padding: 7px;
        border-radius: 5px;
        border: 1px #ddd solid;
        font-size: 15px;
      }
  
      button {
        border: none;
        width: 40px;
  
        :hover {
          opacity: 0.5;
        }
      }
    }
  
    select {
      border: 1px #ddd solid;
    }
  