.sidenav-heading {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-size: 20px;

}






.mat-sidenav-content {

  height: 100vh;
}

.content {
  margin-left: 10px;
  padding: 10px 10px 0;
}

.mat-sidenav {
 
  background: linear-gradient(0, #f8c407f8 0%, #eed076 100%);
  border-radius: 3px;
  box-shadow: 5px 3px 5px #ddd;
  width: 260px;

}

.mat-nav-list {
  padding: 10px;

}


.mat-toolbar {
  background-color: hsla(50, 38%, 94%, 0.671);
  border-bottom: 1px solid #ddd;

}

.toolbar-notification-button {
  width: 100%;
}

.toolbar-notification-button a {
  float: right;

}
.toolbar-title{
  p{
    margin:0 !important;  
  }
}