mat-toolbar {
  background: #ffd664;
}

mat-sidenav {
  margin: 16px;
  width: 20%;
  border-right: none;
  background: #ffd664;
  border-radius: 10px;
  text-align: center;
}

.content {
  border-radius: 16px;
  margin: 16px;
  margin-left: 32px;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}
