.status-badge{
    display: inline-block;
    font-size: .85rem;
    font-weight: 600;
    line-height: 1;
    color: #009ef7;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.3rem;
    background-color: #f1faff;
}
p{
    margin:0 !important;
    padding:5px 10px;
}

