<div *ngIf="organizations">
  <mat-card title="Xem chi tiết" class="moveFadein">
    <a
      class="router"
      routerLink="organization-request-detail/{{ organizations.id }}"
    >
      <mat-card-title-group>
        <mat-card-title class="primary-text-color"> {{ organizations.name }}</mat-card-title>
        <mat-card-subtitle>{{ organizations.type }}</mat-card-subtitle>

        <img mat-card-avatar src="{{ urlApi }}/show/images?p={{ urlLogo }}" />
      </mat-card-title-group>
      <div class="card-icon">
        <div>
          <mat-icon title="Request by">people</mat-icon
          ><span class="margin-left">{{organizations.created_name}}</span>
        </div>
        <div>
          <mat-icon title="At">date_range</mat-icon
          ><span
            class="margin-left"
            >{{organizations.created_at|date:'dd/MM/yyyy'}}</span
          >
        </div>
      </div>
    </a>
    <mat-card-actions>
      <button (click)="approve()" title="Click to approve" mat-button>
        Chấp nhận
      </button>

      <button (click)="reject()" title="Click to decline" mat-button>
        Từ chối
      </button>
    </mat-card-actions>
  </mat-card>
</div>

