
#container {
  background-image: url('/assets/cover/login.png');
  background-size:cover;
  max-width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login-padding {
  padding: 30px;
}

#container .login-box {


  width: 400px;
  max-width: 100%;
  border-radius: 6px;
  background-color:#fff;
  box-shadow: 0px 1px 9px #ccc;
  opacity:1;
}

.login-header {
  h2 {
    color: rgba(255, 184, 0, 1);
    text-align: center;

    text-transform: uppercase;
  }

  p {
    opacity: 0.7;
    padding: 5px;

  }
}

.login-form {
  input[type='text'],input[type='password']{
    padding:13px 3.2rem;
  }
  ::placeholder { /* Edge */
    
    color:rgba(174, 174, 174, 1);

  }
  div {
    display: flex;

    align-items: center;

  }

  mat-form-filed {
    width: 100%;

  }

  .input {
    background-color:rgba(246, 246, 246, 1);

    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    margin: 10px auto;
  }

}


.login-form {

  position: relative;

  justify-content: center;
  align-items: center;
}

.login-form .form-icon {
  position: absolute;
  color:rgba(174, 174, 174, 1);;
  margin-left: 10px;
}

.login-form form {
  display: inline-grid;
  width: 80%;

}

.login-form .mat-form-field {
  width: 90%;
}

.form-text {
  font-size: 18px;
  letter-spacing: 1px;
}

.login-sub {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-remember-box {
 
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.login-forget
{
  width: 50%;
}

.login-forget a {
  text-decoration: none;
  color: rgba(255, 184, 0, 1);
  
}

.login-forget a:hover {
  text-decoration: underline;

}

#checkbox {
  margin-right: 4px;
  width: 18px;
  height: 18px;
}

.login-button {
  text-align: center;
  margin: 15px 0;

}

.login-button button {
  width: 100%;
  background: linear-gradient(to bottom left, rgba(254, 204, 78, 1), rgba(254, 223, 141, 1)) !important;
  padding: 0 30px;
  font-size: 17px;
  border:none;
  border-radius:3px;
}

.login-button button:hover {
  opacity: 0.7;
}

.image-background {
  width: 100%;
  height: 100%;
  background-size:cover;
}

.login-footer {
  display: flex;
  justify-content:space-between;

}

.hide-button{
  height: 24px;
  position: absolute;
  right:0;
  outline:none;
  border:none;
  margin-right:13px;
  border-radius:50%;
  background-color:rgba(246, 246, 246, 1);
}


.register-button{
  text-align: center;
  a{
    font-size: 17px;
    text-decoration: none;
    
  }
}

.loading-spinner{
  display: flex;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.5;
  align-content: center;
  justify-content: center;
  align-items: center;
}