<div id="container">
  <div class='loading-spinner'*ngIf="loadService.isLoading | async">
    <mat-spinner></mat-spinner>
  </div>
  <!-- <img class="images-background" src="assets/cover/login.png" /> -->
  <div class="login-box">
    <div class="login-padding">
      <div class="login-header">
        <h2>Conneto</h2>
        <p>Chào mừng trở lại, đăng nhập ngay bạn nhé</p>
      </div>
      <form [formGroup]="loginForm" action="">
        <div class="login-form">
          <div>
            <mat-icon class="form-icon">person</mat-icon>
            <input
              class="input login"
              type="text"
              placeholder="Tài khoản"
              required=""
              formControlName="username"
            />
          </div>
          <div>
            <mat-icon class="form-icon">lock</mat-icon
            ><input
              class="input password"
              [type]="hide ? 'password' : 'text'"
              placeholder="Mật khẩu"
              required=""
              formControlName="password"
            />
            <mat-icon class='hide-button' (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
         
          </div>
        </div>
      </form>
      <div class="login-footer">
        <div class="login-forget">
      
        </div>
     
      </div>
      <div class="login-button">
        <button  class='button-login'[disabled]="loginForm.invalid" (click)="login()">
         Đăng nhập
        </button>
      </div>
      <div class="register-button">
        <a routerLink="/register">Tạo tài khoản quản lý tổ chức</a>
      </div>
    </div>
  </div>
  <!-- <div id="login-box">
    <div class="login-left">
      <p>Conneto</p>
    </div>
    <div class="login-right">
      <div class="login-heading">
        <span>Sign In</span>
        <div class="line"><hr /></div>
      </div>
      <div class="login-form">
        <form action="">
          <div>
            <mat-form-field>
              <mat-label class="form-text">Username</mat-label>
              <input matInput />
              <mat-icon class="form-icon">person</mat-icon>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label class="form-text">Password</mat-label>

              <input matInput />
              <mat-icon class="form-icon">lock</mat-icon>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="login-sub">
        <div class="login-forget">
          <a href="#">Forget Password?</a>
        </div>
        <div class="login-remember-box">
          <input type="checkbox" name="Remember Me" id="checkbox">
          <label for="checkbox">Remember Me</label>
        </div>
      </div>
      <div class="login-button">
        <button mat-raised-button (click)="login()">Login</button>
      </div>
    </div>
  </div> -->
</div>
