
<div *ngIf="campaign">
    <div class="container">
      <div class="box">
        <div class="closeButton">
          <button (click)="goBack()"><mat-icon>close</mat-icon></button>
        </div>
        <div class="header">
          <div class="header-content">
            <div class="header-image">
              <img src="assets/cover/ddtt18.png" alt="" />
            </div>
            <div class="header-information">
              <div>
                <img
                  class="logo"
                  src="https://scontent.fsgn13-2.fna.fbcdn.net/v/t1.6435-9/178544364_107519118154437_587515442243461044_n.png?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=HpDq1z6uI1AAX_qZr2h&_nc_ht=scontent.fsgn13-2.fna&oh=00_AT_wF445zgWFFAp3-EM3SKzQh1mk0GzbDAyweGLg3sapjQ&oe=6257A43B"
                />
                <h4>{{ campaign.name }}</h4>
                <app-status></app-status>
              </div>
           
  
              <p>Đồng hành cùng chiến dịch<br>
                <span class='organization-name'>{{campaign.org_name}}</span></p>
              <div class="card-icon">
                <div class="start-date">
                  <p>{{ campaign.startDate | date: "mediumDate" }}</p>
                  <mat-card-subtitle> Start Date </mat-card-subtitle>
                </div>
                <div class="budget-item">
                  <p>{{ campaign.endDate | date: "mediumDate" }}</p>
                  <mat-card-subtitle> End Date </mat-card-subtitle>
                </div>
                <div class="budget-item">
                    <p>{{ campaign.target | currency:'VND'}}</p>
                    <mat-card-subtitle>Target </mat-card-subtitle>
                  </div>
              </div>
           
            </div>
          </div>
        </div>
        <div class="content">
          <div class="content-information">
            <div class="content-description">
              <span>Description:</span>
              <p>
                {{ campaign.description }}
              </p>
            </div>
            <div class="content-type">
                <span>Type:</span>
                <p>
                  {{ campaign.type }}
                </p>
              </div>
          </div>
          <div >
            <app-approve-decline-button
              [campaign]="campaign"
            ></app-approve-decline-button>
          </div>
        </div>
      </div>
    </div>
</div>
