<div *ngIf="campaign">
  <div class="container">
    <div class="box">
      <div class="closeButton">
        <button (click)="goBack()"><mat-icon>close</mat-icon></button>
      </div>
      <div class="header">
        <div class="header-content">
          <div class="header-image">
            <img src="{{ urlApi }}/show/images?p={{ urlCover }}" alt="" />
          </div>
        </div>
        <div class="content__tab">
          <ul>
            <li
              [class.content__tab-active]="isInformation"
              (click)="getTab('infor')"
            >
              Thông tin
            </li>
            <li
              [class.content__tab-active]="isDocument"
              (click)="getTab('doc')"
            >
              Tài liệu
            </li>
            <li [class.content__tab-active]="isAnother" (click)="getTab('ano')">
              {{
                campaign.type == "Quyên Góp"
                  ? "Lịch sử quyên góp"
                  : "Tuyển dụng"
              }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="isInformation" class="box box__content">
      <div class="content">
        <div class="content-information">
          <div class="content-description">
            <span>Tên chiến dịch:</span>
            <p>
              {{ campaign.name }}
            </p>
          </div>
          <div class="content-description">
            <span>Đồng hành cùng chiến dịch:</span>
            <img
              class="organization__avatar"
              src="{{ urlApi }}/show/images?p={{ urlLogo }}"
            />
            <p>
              {{ campaign.org_name }}
            </p>
          </div>
          <div class="content-description">
            <span>Thuộc dự án:</span>
            <img
              class="organization__avatar"
              src="{{ urlApi }}/show/images?p={{ urlProjectLogo }}"
            />
            <p>
              {{ campaign.pro_name }}
            </p>
          </div>
          <div class="content-description">
            <span>Giới thiệu chiến dịch:</span>
            <p>
              {{ campaign.description }}
            </p>
          </div>
          <div class="content-description">
            <span>Thể loại:</span>
            <p>
              {{ campaign.type }}
            </p>
          </div>
          <div class="content-description">
            <span>Lĩnh vực:</span>
            <p>
              {{ campaign.category }}
            </p>
          </div>
          <div class="content-description">
            <span>Thời gian diễn ra:</span>
            <p>
              {{ campaign.startDate | date: "dd/MM/yyyy" }} -
              {{ campaign.endDate | date: "dd/MM/yyyy" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isDocument">
      <input type='file' multiple mat-button (click)='uploadAll()'>Tải lên tài liệu
    </div>
  </div>
</div>
