<div *ngIf="campaign">
  <div class="container">
    <div class="box">
      <div class="closeButton">
        <button (click)="goBack()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="header">
        <div class="header-content">
          <div
            class="campaign__type d-flex justify-content-center align-items-center fw-bold p-1 position-absolute border-radius-8 mt-2 me-2 opacity-75">
            <span [ngClass]="{
                'label-approved': campaign.result_code == 710,
                'label-rejected': campaign.result_code == 711,
                'label-pending': campaign.result_code == 701
              }">{{ campaign.result_message }}</span>
          </div>
          <div class="header-image">
            <img
            onerror="this.src='assets/images/temp_bg.png'"
            src="{{ urlApi }}/show/images?p={{ urlCover }}" alt="" />
          </div>
        </div>
        <div class="content__tab">
          <ul>
            <li [class.content__tab-active]="isInformation" (click)="getTab('infor')">
              Thông tin
            </li>
            <li [class.content__tab-active]="isDocument" (click)="getTab('doc')" *ngIf="campaign.type == 'Quyên góp'">
              Tài liệu
            </li>
            <li [class.content__tab-active]="isAnother" (click)="getTab('ano')">
              {{
                campaign.type == "Quyên góp"
                  ? "Lịch sử quyên góp"
                  : "Quản lý tuyển dụng"
              }}
            </li>
            <mat-slide-toggle style="position: absolute; right: 0;margin-right:5px;"
              *ngIf="isAdmin && (campaign.result_code == 710 || campaign.result_code == 720 || campaign.result_code == 721 || campaign.result_code == 731)"
              [checked]="campaign?.is_transparent" (change)="doCheck()">Minh bạch chiến dịch: {{
              campaign.is_transparent == true
                ? "Đã xác thực"
                : "Chưa xác thực"
            }}</mat-slide-toggle>
          </ul>

        </div>
      </div>
    </div>
    <div *ngIf="isInformation" class="box box__content">
      <div class="content">
        <div class="d-flex justify-content-end" *ngIf="
            (campaign.result_code == 710 ||
              campaign.result_code == 720 ||
              campaign.result_code == 721 ||
              campaign.result_code == 731) &&
            !isAdmin
          ">
          <button mat-icon-button class="update" (click)="isOpenUpdateForm = !isOpenUpdateForm">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="content-information">
          <div class="content-description">
            <span>Tên chiến dịch:</span>
            <p>
              {{ campaign.name }}
            </p>

          </div>
          <div class="content-description">
            <span>Đồng hành cùng chiến dịch:</span>
            <img class="organization__avatar" src="{{ urlApi }}/show/images?p={{ urlLogo }}" />
            <p>
              {{ campaign.org_name }}
            </p>
          </div>
          <div class="content-description">
            <span>Thuộc dự án:</span>
            <img class="organization__avatar" src="{{ urlApi }}/show/images?p={{ urlProjectLogo }}" />
            <p>
              {{ campaign.pro_name }}
            </p>
          </div>
          <div class="content-description">
            <span>Giới thiệu chiến dịch:</span>
            <p>
              {{ campaign.description }}
            </p>
          </div>
          <div class="content-description">
            <span>Thể loại:</span>
            <p>
              {{ campaign.type }}
            </p>
          </div>
          <div class="content-description">
            <span>Mục tiêu:</span>
            <p>
              {{
                campaign.type == "Quyên góp"
                  ? (campaign.target_number | number) + "đ"
                  : campaign.target_number + " người"
              }}
            </p>
          </div>
          <div class="content-description">
            <span>Đã đạt:</span>
            <p>
              {{
                campaign.type == "Quyên góp"
                  ? (campaign.total_donated | number) + "đ"
                  : campaign.total_participant + " người "
              }}
            </p>
          </div>
          <!-- <div class="content-description">
            <span>Lĩnh vực:</span>
            <p>
              {{ campaign.category }}
            </p>
          </div> -->
          <div class="content-description">
            <span>Thời gian diễn ra:</span>
            <p>
              {{ campaign.start_date | date: "dd/MM/yyyy" }} -
              {{ campaign.end_date | date: "dd/MM/yyyy" }}
            </p>
          </div>
          <div *ngIf="isApproved" class="delete-button">
            <app-delete-entity [type]="'cam'" [entity]="campaign"></app-delete-entity>
          </div>
          <app-campaign-update-form *ngIf="isOpenUpdateForm" [data]="campaign"></app-campaign-update-form>
        </div>
      </div>
    </div>

    <div *ngIf="isDocument && isApproved == true" class="box box__content">
      <div class="content">
        <div class="content-tab">
          <div *ngIf="isEmpty">
            Hiện tại chiến dịch này chưa có tài liệu nào !
          </div>
          <div *ngIf="!isAdmin" class="ms-2">
            <button mat-flat-button color="primary" (click)="isUpload = true; isExcel = false; isPDF = false">
              <mat-icon>file_upload</mat-icon>Tải lên tài liệu
            </button>
          </div>
          <button *ngIf="documentExcel.length != 0" mat-flat-button color="accent" (click)="getDocumentExcel()"
            class="ms-2">
            <mat-icon>offline_pin</mat-icon> Tài liệu chi tiết dòng tiền
          </button>
          <button *ngIf="documentPDF.length > 0" mat-flat-button style="background-color: yellow"
            (click)="getDocument()" class="ms-2 box-shadow-2">
            <mat-icon>attach_file</mat-icon> Tài liệu của chiến dịch
          </button>
        </div>

        <div *ngIf="isPDF || isExcel">
          <app-show-document [type]="type" [entityExcel]="documentExcel" [entityPDF]="documentPDF"></app-show-document>
        </div>
        <div *ngIf="!isAdmin && isUpload">
          <h6 style="display: flex; align-items: center">
            Vui lòng bạn
            <button class="file_template" mat-button color="primary">
              <a href="assets/doc/cashflow_detail_template.xlsx" download>
                Tải về biểu mẫu</a></button>, điền đầy đủ thông tin yêu cầu theo mẫu và tải lên lại.
          </h6>
          <app-download-document-form (isUploaded)="getValue($event)" [campaign]="campaign">
          </app-download-document-form>
        </div>
      </div>
    </div>
    <div *ngIf="isAnother && isEmpty == false">
      <app-table-campaign-participations [type]="type" [volunteer]="volunteer" [entity]="campaign">
      </app-table-campaign-participations>
    </div>
  </div>
</div>
