<div id="container">
  <!-- <img class="image-background" src="assets/cover/login.png" /> -->
  <div class="login-box">
    <div class="login-padding">
      <div class="login-header">
        <h2>Conneto</h2>
        <p>Đăng ký nhanh chóng và dễ dàng.</p>
      </div>
      <form [formGroup]="registerForm" action="">
        <div class="login-form">
          <div>
            <input
              class="input login"
              type="text"
              placeholder="Tài khoản"
              required=""
              formControlName="username"
            />
          </div>
          <div class="login-name">
            <input
              class="input login"
              type="text"
              placeholder="Họ"
              required=""
              formControlName="first_name"
            />
            <input
              class="input login"
              type="text"
              placeholder="Tên"
              required=""
              formControlName="last_name"
            />
          </div>
          <div>
            <input
              class="input login"
              type="number"
              placeholder="Số điện thoại"
              required=""
              formControlName="number_phone"
            />
          </div>
          <div>
            <input
              class="input password"
              [type]="hide ? 'password' : 'text'"
              placeholder="Mật khẩu mới"
              required=""
              formControlName="password"
            />
            <button class="hide-button" title="Hide" (click)="hide = !hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </div>
        </div>
      </form>

      <div class="login-button">
        <button [disabled]="registerForm.invalid" type='submit'(click)="register()">Đăng ký</button>
      </div>
      <div class="register-button">
        <a routerLink="/" href="login">Đã có tài khoản?</a>
      </div>
    </div>
  </div>
</div>
