<div>
  <p>{{ data.message }}</p>
  <form action="" *ngIf="data.reason">
    <mat-form-field class="w-100">
      <mat-label>Lý do từ chối </mat-label>
      <input matInput required [formControl]="reasonFormControl" />
      <mat-error *ngIf="reasonFormControl.errors?.required">
        Vui lòng nhập lý do
      </mat-error>
    </mat-form-field>
  </form>
  <div class="button mt-3">
    <button style="background-color: #fbb800" mat-button (click)="yesClick()">
      <mat-icon>done</mat-icon>
      {{ data.button }}
    </button>

    <button mat-button mat-dialog-close (click)="noClick()">
      <mat-icon>close</mat-icon>
      {{ data.close }}
    </button>
  </div>
</div>
