.box {
  button {
    width: 40px !important;

    margin: 0 !important;
    min-width: 30px;
    display: flex;
    justify-content: center;
  }
}

.is-active {
  background-color: #009EF7 !important;
}
