<mat-card
  title="Click to see more details"
  (click)="viewDetails()"
  class="moveFadein"
  >
  <div class="image">
    <img
      mat-card-image
      src="assets/image/ddtt18_cover.png"
    />
  </div>
  <mat-card-title> Đường đến tri thức đợt 18 </mat-card-title>
  <div class="card-icon">
    <div>
      <mat-icon title="Request by">people</mat-icon
      ><span class="margin-left">Khang Tran</span>
    </div>
    <div>
      <mat-icon title="At">date_range</mat-icon
      ><span class="margin-left">25/02/2012</span>
    </div>
  </div>
  <mat-card-actions>
    <button title="Click to approve" mat-button>Approve</button>

    <button title="Click to decline" mat-button>Decline</button>
  </mat-card-actions>
</mat-card>
