<div *ngIf="isLoaded">
  <div
    *ngIf="!noOrg && isDeleted == false; then tabgroup; else createOrganization"
  ></div>

  <ng-template #tabgroup>
    <div *ngIf="isAdmin">
      <app-tabgroup (getState)="getTabGroupState($event)" [organizations]="passData" [entity]="'org'"></app-tabgroup>
    </div>
  </ng-template>

  <div *ngIf="isShow">
    <app-organization-form
      [organizationId]="organizationId"
    ></app-organization-form>
  </div>

  <ng-template #createOrganization>
    <button
      (click)="isShow = !isShow; isEmpty = !isEmpty"
      mat-raised-button
      color="primary"
    >
      Tạo tổ chức
    </button>
  </ng-template>
  <div *ngIf="isEmpty && isDeleted == false">
    Hiện tại không có tổ chức nào được tạo!
  </div>
  <div *ngIf="isRequest">
    <div class="search-bar" *ngIf="!isEmpty">
      <div *ngIf="!noResultBySearch; then name; else result"></div>
      <ng-template #name>
        <div class="name">
          <h3>Tổ chức</h3>
          <p>({{ number ? number : "" }})</p>
        </div>
      </ng-template>
      <ng-template #result>
        <div class="name">
          <h3>Không tìm thấy kết quả phù hợp</h3>
        </div>
      </ng-template>

      <app-search-bar
        *ngIf="!isList"
        (getItem)="getData($event)"
        [entity]="passData"
        [entityCopy]="oldData"
      ></app-search-bar>
      <app-change-to-list
        #viewGrid
        [entityOrganization]="oldData"
        (entitys)="getOrganizations($event)"
        (handleTitle)="handleTitle($event)"
      ></app-change-to-list>
    </div>
    <app-list-view
      *ngIf="isList"
      [whichEntity]="'org'"
      [entity]="oldData"
    ></app-list-view>
    <div *ngIf="!isList" class="request-component">
      <app-organization-infor-card
        *ngFor="let org of organizations"
        class="organization-card mb-3 col-xxl-4 col-md-6 col-sm-12 col-12"
        [organizations]="org"
        [checkType]="'org'"
      >
      </app-organization-infor-card>
    </div>
  </div>

  <div *ngIf="isAdmin">
    <div *ngIf="!isRequest">
      <div *ngIf="organizations && !noOrg">
        <div class="box__search">
          <div class="search-bar" *ngIf="!isEmpty">
            <div *ngIf="!noResultBySearch; then name; else result"></div>
            <ng-template #name>
              <div class="name">
                <h3>Tổ chức</h3>
                <p>({{ number ? number : "" }})</p>
              </div>
            </ng-template>
            <ng-template #result>
              <div class="name">
                <h3>Không tìm thấy kết quả phù hợp</h3>
              </div>
            </ng-template>
            <app-entity-status
              *ngIf="!isList && !isTabRejected"
              [entityData]="passData"
              [type]="'org'"
              (entity)="getEntity($event)"
            ></app-entity-status>
            <app-search-bar
              *ngIf="!isList"
              (getItem)="getData($event)"
  
              [entityCopy]="oldData"
            ></app-search-bar>
            <app-change-to-list
              #viewGrid
              [entityOrganization]="oldData"
              (entitys)="getOrganizations($event)"
              (handleTitle)="handleTitle($event)"
            ></app-change-to-list>
          </div>
          <app-list-view
            *ngIf="isList"
            [whichEntity]="'org'"
            [entity]="oldData"
          ></app-list-view>
          <div *ngIf="!isList" class="box row p-3">
            <div
              class="mb-3 col-xxl-4 col-md-6 col-sm-12 col-12"
              *ngFor="let organization of organizations"
            >
              <mat-card title="Xem chi tiết" class="moveFadein">
                <a
                  class="router"
                  routerLink="organization-request-detail/{{ organization.id }}"
                >
                  <mat-card-title-group>
                    <mat-card-title class="primary-text-color">
                      {{ organization.name }}</mat-card-title
                    >
                    <mat-card-subtitle>{{
                      utilService.convertType(organization.type)
                    }}</mat-card-subtitle>

                    <img
                      loading="lazy"
                      mat-card-avatar
                      src="{{ urlApi }}/show/images?p={{ organization.logo }}"
                    />
                  </mat-card-title-group>
                  <div class="card-icon">
                    <div>
                      <mat-icon title="Được tạo bởi">people </mat-icon>
                      <span class="margin-left">{{
                        organization.created_name
                      }}</span>
                    </div>
                    <div>
                      <mat-icon title="Ngày tạo">date_range </mat-icon>
                      <span class="margin-left">
                        Ngày tạo:
                        {{ organization.created_at | date: "dd/MM/yyyy" }}</span
                      >
                    </div>
                  </div>
                </a>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isAdmin == false && organizations">
    <app-organization-details
      [organizationInput]="organizations"
    ></app-organization-details>
  </div>
</div>
<div class="skeleton">
  <div *ngFor="let i of numberCount">
    <app-skeletion-loading></app-skeletion-loading>
  </div>
</div>
