.a {
  font-size: 20px;
}

.click-details {
  border: none;
}

.click-details:hover {
  opacity: 0.9;
  box-shadow: 3px 5px 5px #ddd;
}



mat-card {
  width: 380px;
  margin: 5px;

  a {
    text-decoration: none;
    color: black;
  }

  mat-card-title {
    font-size: 20px;
    height: 55px;
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }

}

.box__item:hover {

  transform: scale(1.12);
  z-index: 1;

  mat-card-title {
    overflow: visible;
    white-space: normal;
  }
}

mat-card-actions {
  display: flex !important;
  justify-content: center;

  button {
    width: 100%;

  }

  :first-child {
    background-color: rgba(138, 244, 149, 1);

  }

  :nth-child(2) {
    background-color: rgba(244, 138, 138, 1);
    ;
  }

}

img {
  width: 75px;
  height: 75px;


}

.mat-card-avatar {
  object-fit: fill;
}

.card-icon {
  display: flex;
  font-size: 15px !important;
  justify-content: space-between;
  margin-top: 9px;
  margin-bottom: 2px;
  font-weight: bold;

  div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}



.margin-left {
  margin-left: 5px;
}

.request-component {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.name {
  display: flex;
  align-items: center;
  margin-top: 20px;

  >p {

    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 0 !important;
  }
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
