<div class="content">
  <div class="search-bar">
    <div class="search-box">
      <app-change-to-list
      (handleTitle)="handleTitle($event)"
    ></app-change-to-list>
      <div class="search-item">
        <input
          type="text"
          placeholder="Tìm kiếm theo tên"
          (keyup)="searchName($event)"
        />
        <button><mat-icon>search</mat-icon></button>
      </div>
 
      <div class="ordering-item">
        <select>
          <option>Đang hoạt động</option>

          <option>Ngừng hoạt động</option>
        </select>
      </div>
    </div>
  </div>
  <app-list-view *ngIf='isList' [whichEntity]="'user'"  [entity]="usersFull"></app-list-view>
  <div *ngIf='!isList'  class="decoration">

    <div *ngIf="isEmpty">Không tìm thấy kết quả phù hợp</div>
    <div  *ngFor="let user of users">
      <app-user-card [user]="user"> </app-user-card>
    </div>
    <div class="button-showmore" *ngIf="!isNoMore && isLoaded">
      <button mat-button (click)="showMore()">Xem thêm</button>
    </div>
  </div>
</div>
