
<div class="content">
  <div class="search-bar">
    <div class="search-box">
      <div class="search-item">
        <input type="text" placeholder="Search by name" (keyup)="searchName($event)"/>
        <button><mat-icon>search</mat-icon></button>
      </div>
      <div class="ordering-item">
        <select>
          <option>Active</option>

          <option>Deactive</option>
        </select>
      </div>
    </div>
   
  </div>
  <div class="decoration">
    <div *ngIf='isEmpty'>
      No result !
    </div>
    <div *ngFor="let user of users">
      <app-user-card [user]="user"> </app-user-card>
    </div>
    <div class='button-showmore'*ngIf="!isNoMore">
      <button mat-button (click)="showMore()">Show More</button>
    </div>
  </div>
</div>
