<div *ngIf="organization">
  <div class="container p-3">
    <div class="box">
      <button class="close-button" (click)="goBack()">
        <mat-icon>close</mat-icon>
      </button>
      <div class="header">
        <div
          class="campaign__type d-flex justify-content-center align-items-center fw-bold p-1 position-absolute border-radius-8 mt-2 me-2 opacity-75"
        >
          <span
            class="font-size-8"
            [ngClass]="{
              'label-approved': organization.result_code == 510,
              'label-rejected': organization.result_code == 511,
              'label-pending': organization.result_code == 501
            }"
            >{{ organization.result_message }}</span
          >
        </div>
        <img
          loading="lazy"
          src="{{ urlApi }}/show/images?p={{ organization.cover }}"
          alt=""
        />
      </div>
      <div class="content__tab">
        <ul>
          <li
            [class.content__tab-active]="isInformation"
            (click)="getTab('infor')"
          >
            Thông tin
          </li>
          <li [class.content__tab-active]="isProjects" (click)="getTab('pro')">
            Dự án
          </li>
          <li [class.content__tab-active]="isCampaigns" (click)="getTab('cam')">
            Chiến dịch
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="isInformation" class="box box__content p-3">
      <div class="content">
        <div class="content-information">
          <div>
            <div class="icon">
              <img
                loading="lazy"
                src="{{ urlApi }}/show/images?p={{ organization.logo }}"
                alt=""
              />
            </div>
            <div>
              <p>{{ organization.name ? organization.name : "" }}</p>
            </div>
          </div>
          <div>
            <p class="title">Được tạo bởi</p>
            <p>
              {{
                organization.created_name
                  ? organization.created_name
                  : "Anh Phuc"
              }}
            </p>
          </div>
          <div>
            <p class="title">Ngày thành lập</p>
            <p>
              {{ organization.founding_date | date: "dd/MM/yyyy" }}
            </p>
          </div>
          <div>
            <p>{{ organization.type ? organization.type : "" }}</p>
          </div>
        </div>
        <div class="content-main">
          <div class="content-introduce">
            <div>Giới thiệu tổ chức:</div>
            <div>
              {{ organization.description ? organization.description : "" }}
            </div>
          </div>
          <div class="content-field">
            <div>Tầm nhìn của tổ chức:</div>
            <div>{{ organization.vision ? organization.vision : "" }}</div>
          </div>
          <div class="content-area">
            <div>Nhiệm vụ của tổ chức:</div>
            <div>
              {{ organization.mission ? organization.mission : "Nothing" }}
            </div>
          </div>
          <div class="content-area">
            <div>Website:</div>
            <a
              target="_blank"
              href="{{
                organization.website ? organization.website : 'google.com'
              }}"
              >{{ organization.website ? organization.website : "Không có" }}</a
            >
          </div>
          <div class="content-area">
            <div>Nhiệm vụ của tổ chức:</div>
            <div>
              {{ organization.mission ? organization.mission : "Nothing" }}
            </div>
          </div>
          <div class="content-introduce">
            <div>Giấy phép hoạt động:</div>

            <a
              style="display: flex"
              href="{{ urlApi }}/show/files?p={{
                organization.operating_license
              }}"
              download
              target="_blank"
            >
              <img style="width: 25px" src="./assets/icons/pdf.svg" />
              Xem tài liệu
            </a>
          </div>
          <div
            *ngIf="
              isAdmin &&
              (organization.result_code == 510 ||
                organization.result_code == 520 ||
                organization.result_code == 521 ||
                organization.result_code == 531)
            "
            class="content-button"
          >
            <div>
              <app-delete-entity
                [type]="'org'"
                [entity]="organization"
              ></app-delete-entity>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="isCampaigns">
      <div *ngIf="campaignsCopy?.length! > 0">
        <div class="search_bar search-bar">
          <div *ngIf="!noResultBySearch; then name; else result"></div>
          <div>
            <ng-template #name>
              <div class="name">
                <h3>Chiến Dịch</h3>
                <p>{{ status ? status : "" }}</p>
              </div>
            </ng-template>
            <ng-template #result>
              <div class="name">
                <h3>Không tìm thấy kết quả phù hợp</h3>
              </div>
            </ng-template>
          </div>
          <div>
            <app-search-bar
              (getItem)="getData($event)"
              [entityCopy]="passDataCampaigns"
            ></app-search-bar>
          </div>
        </div>
      </div>
      <div class="row p-3">
        <app-campaign-item
          class="campaign-card mb-3 col-xxl-4 col-md-6 col-sm-12 col-12"
          *ngFor="let cam of campaigns"
          [campaign]="cam"
        ></app-campaign-item>
      </div>
    </div>
    <div class="project__list-item" *ngIf="isProjects">
      <div>
        <div class="project__button">
          <div class="search_bar" *ngIf="projectsCopy?.length! > 0">
            <div class="search_bar">
              <div *ngIf="!noResultBySearch; then name; else result"></div>
              <div>
                <ng-template #name>
                  <div class="name">
                    <h3>Dự án</h3>
                    <p>{{ status ? status : "" }}</p>
                  </div>
                </ng-template>
                <ng-template #result>
                  <div class="name">
                    <h3>Không tìm thấy kết quả phù hợp</h3>
                  </div>
                </ng-template>
              </div>
              <div>
                <app-search-bar
                  (getItem)="getData($event)"
                  [entityCopy]="passDataProjects"
                ></app-search-bar>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-project-item [projects]="projects"></app-project-item>
    </div>
  </div>
</div>
