<div *ngIf="organization">
  <div class="container">
    <div class="box">
      <button class='close-button'(click)="goBack()"><mat-icon>close</mat-icon></button>
      <div class="header">
        <img loading='lazy' src="{{urlApi}}/show/images?p={{urlCover}}" alt="" />
      </div>
      <div class="content">
        <div class="content-information">
          <div>
            <div class="icon">
              <img loading='lazy' src="{{urlApi}}/show/images?p={{urlLogo}}" alt="" />
            </div>
            <div>
              <p>{{ organization.name }}</p>
            </div>
          </div>
          <div>
            <p class="title">Create by</p>
            <p>aa</p>
          </div>
          <div>
            <p class="title">Date created</p>
            <p>{{ organization.founding_date | date: "mediumDate" }}</p>
          </div>
          <div>
            <p>Non-profit organization</p>
          </div>
        </div>
        <div class="content-main">
          <div class="content-introduce">
            <div>Introduce:</div>
            <div>
              {{ organization.description }}
            </div>
          </div>
          <div class="content-field">
            <div>Vision:</div>
            <div>{{ organization.vision }}</div>
          </div>
          <div class="content-area">
            <div>Mission:</div>
            <div>
              {{ organization.mission ? organization.mission : "Nothing" }}
            </div>
          </div>
          <div class="content-area">
            <div>Website:</div>
            <a href="{{ organization.website }}">{{ organization.website }}</a>
          </div>
          <div *ngIf='!isAdmin'class="content-button">
            <div>
              <button (click)="openProjectForm()"mat-raised-button color='primary'>Create a project</button>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
