<div *ngIf="campaign">
  <mat-card (click)="goToDetail(campaign.id)">
    <img mat-card-image src="{{ urlApi }}/show/images?p={{ campaign.cover }}" />

    <mat-card-title>
      {{ campaign.name }}
    </mat-card-title>
    <div class="campaign__type">
      <span>{{ campaign.type }}</span>
    </div>
    <div class="subtitle">
      <img
        mat-card-avatar
        src="{{ urlApi }}/show/images?p={{ campaign.org_logo }}"
      />
      <div class="organization-name">
        <p>{{ campaign.org_name }}</p>
      </div>
    </div>
    <mat-card-content>
      <div class="campaign__date">
        <div
          *ngIf="campaign.type == 'Quyên Góp'; then donation; else recruitment"
        ></div>
        <ng-template #donation>
          <p>
            <span class="now">{{
              campaign.totalDonated | currency: "VND"
            }}</span
            >/{{ campaign.target | currency: "VND" }}
          </p>
        </ng-template>
        <ng-template #recruitment>
          <p>
            <span class="now">{{ campaign.totalPaticipant }}</span
            >/{{ campaign.target }}
          </p>
        </ng-template>
        <div class="days-left">
          <mat-card-subtitle>
            <mat-icon>date_range</mat-icon>
            {{ campaign.createdAt | date: "dd/MM/yyyy" }}</mat-card-subtitle
          >
        </div>
      </div>
    </mat-card-content>
    <div class="campaign__progress-bar">
      <mat-progress-bar
        mode="determinate"
        value="{{ valueNumber }}"
      ></mat-progress-bar>
    </div>
    <mat-card-actions>
      <div>
        <p>
          Lượt {{ campaign.type == 'donation' ? 'quyên góp' : 'tham gia:' }} <span>{{ campaign.totalPaticipant }}</span>
        </p>
      </div>
      <div>
        <p>
          Đạt được: <span>{{ campaign.org_id | percent: "1.0-2" }}</span>
        </p>
      </div>
      <!-- <button mat-button>Compleated</button> -->
    </mat-card-actions>
  </mat-card>
</div>
