.cover {
  height: 160px;
}
.container{
  cursor:pointer
}
.cover img {
  object-fit: unset;
  width: 100% !important;
  height: 100% !important;
}

.day-left {
  font-size: 10px;
  display: flex;
}


.mat-button {
  margin: 0 !important;
}

button {
  background-color: rgb(175, 245, 175);
  border: 2px solid #ddd;
}

.campaign__type {
  z-index: 9999;
  text-transform: uppercase;
  background-color: #918a8a;
}

.campaign {
  &__date {
    display: flex;
    margin-top: 10px !important;
  }

  &__progress-bar {
    margin-bottom: 10px;
  }
}

mat-card-subtitle {
  display: flex;
  align-items: center;
}
