<div *ngIf='cards' class="box decoration">
    <app-dashboard-card  [title]="'Total Organizations'" [number]='cards?.numOrg' [icon]="'apartment'"></app-dashboard-card>
    <app-dashboard-card  [title]="'Total Projects'" [number]='cards?.numPro' [icon]="'business_center'"></app-dashboard-card>
    <app-dashboard-card  [title]="'Total Campaigns'" [number]='cards?.numCam' [icon]="'campaign'"></app-dashboard-card>

</div>
<div>
   
   <app-table-rank></app-table-rank>
</div>

<app-skeletion-loading></app-skeletion-loading>