<div class="container">
  <div>
    <h3 mat-dialog-title>{{ data.title }}</h3>
  </div>
  <form [formGroup]="projectForm" action="">
    <div class="login-form">
      <div>
        <input
          class="input login"
          type="text"
          placeholder="Tên dự án"
          required=""
          formControlName="name"
        />
      </div>
      <span
        *ngIf="  ( projectControl.name.touched||isSubmitted) &&
            projectControl.name.errors?.required
            ||
            projectControl.name.errors?.['minlength'] ||   projectControl.name.errors?.['maxlength']
          "
        class="text-danger"
        >Tên dự án bắt buộc và có độ dài tối thiểu 8, tối đa 128 kí tự</span
      >

      <div>
        <textarea
          class="input login"
          type="text"
          placeholder="Giới thiệu về dự án"
          required=""
          formControlName="description"
        ></textarea>
      </div>
      <span
        *ngIf="  ( projectControl.description.touched||isSubmitted) &&
      projectControl.description.errors?.required
      ||
      projectControl.description.errors?.['minlength'] ||   projectControl.description.errors?.['maxlength']
    "
        class="text-danger"
        >Giới thiệu về dự án bắt buộc và có độ dài tối thiểu 128</span
      >
      <div>
        <input
          class="input login"
          placeholder="Tên địa điểm diễn nha dự án"
          (change)="getLocationName($event)"
        />
        <span *ngIf="noLocationName" class="text-danger"
          >Vui lòng nhập tên địa điểm
        </span>
        <input
          class="input login"
          placeholder="Đia chỉ nơi diễn ra dự án "
          ngx-google-places-autocomplete
          (onAddressChange)="handleAddressChange($event)"
        />
        <span *ngIf="noAddress" class="text-danger"
          >Vui lòng nhập vào địa chỉ
        </span>
        <!-- <google-map height="300px" width="300px">
          <map-marker (positionChanged)="getPosition($event)"></map-marker>
        </google-map> -->
     
      </div>
      <div>
        <mat-label style="width: 130px">Ngày bắt đầu</mat-label>

        <input
          class="input login"
          type="date"
          required=""
          formControlName="start_date"
        />
      </div>
      <div>
        <mat-label style="width: 130px">Ngày kết thúc</mat-label>

        <input
          class="input login"
          type="date"
          required=""
          formControlName="end_date"
        />
      </div>
      <div>
        <mat-form-field>
          <mat-label>Lĩnh vực</mat-label>
          <mat-select formControlName="category" required="false" multiple>
            <mat-select-trigger>
              <mat-chip-list>
                <mat-chip
                  *ngFor="let e of projectControl.category.value"
                  [removable]="true"
                  (removed)="onRemoveCategory(e)"
                >
                  {{ e.vietsub }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-select-trigger>
            <mat-option *ngFor="let e of category" [value]="e">
              {{ e.vietsub }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <label style="width: 100px"> Ảnh bìa:</label>
        <input
          type="file"
          accept="image/png,image/jpg,image/jpeg"
          formControlName="cover"
          (change)="onChange($event)"
        />
      </div>
      <div style="margin-top: 10px">
        <label style="width: 100px"> Logo:</label>
        <input
          type="file"
          accept="image/png,image/jpg,image/jpeg"
          formControlName="logo"
          (change)="onChangeCover($event)"
        />
      </div>
    </div>
  </form>

  <div class="login-button">
    <button mat-button color="primary" (click)="yesClick()">Tạo</button>
  </div>
  <button class="cancel" mat-button (click)="noClick()">Hủy</button>
</div>
