.mat-card {
  width: 280px;
  max-width: 100%;
  display: flex;
  .mat-card-title{
    text-align: center;
  }
  .mat-card-subtitle{
    text-align: center;
  }
}

.yes {
  background-color: red;
}
.logo{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .mat-icon
  {
    font-size:60px;
    display: flex;
    align-items: center;
}
  }


.title{
  width: 50%;
}